<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
</head>
<body>
  <form method="POST" action="/articles">
    <label for="title"><h2>Title</h2></label>
    <input type="text" name="title" id="title"><br>
    <label for="content"><h2>Content</h2></label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <input type="submit">
  </form>
</body>
</html>